.messagesBox{
    height: 500px;
}

@media (max-width: 600px){
    .messagesBox{
        height: 400px;
    }
}

@media (max-width: 600px) and (max-height: 640px) {
    .messagesBox{
        height: 300px;
    }
}

